.about-page {
        margin-top: 200px;
        margin-bottom: 50px;
        .title {
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            margin-bottom: 20px;
            padding-bottom: 20px;
            color: #000;
        }
        .title-image {
            margin-top: -25px;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(129, 129, 129, 0.432);
            border-radius: 100%;
            height: 50px;
            width: 50px;
            margin-left: auto;
            margin-right: auto;
            .title-foto {
                margin-top: 5px;
            }
        }
        .sect1 {
            margin-right: auto;
            margin-left: auto;
            display: block;
            font-size: x-large;
            width: 80%;
            text-align: center;
            margin-top: 30px;
        }
        .sect2 {
            text-align: center;
            margin-top: 50px;
            font-weight: 700;
            font-size: 20px;
        }
        .aboutus-section {
            margin-top: 50px;
            .col-md-2 {
                margin-left: auto;
                margin-right: auto;
            }
            .aboutus-card {
                margin-left: auto;
                margin-right: auto;
                width: 200px;
                height: 300px;
                color: #000;
                cursor: pointer;
                border-radius: 15px;
                transition: ease-out .3s;
                border: .5px solid rgba(117, 117, 117, 0.267);
                .value {
                    text-align: center;
                    padding-top: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .body {
                    padding-top: 20px;
                    text-align: center;
                    margin-bottom: 20px;  
                }
            }
            .aboutus-card:hover {
                box-shadow: 3px 0px 30px rgba(34, 34, 34, 0.432);
                transition: ease-in .3s;
                border-radius: 100px;
                background-color: rgb(156, 135, 13);
                color: #fff;
            }
        }
        
        .line {
            width: 90%;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }

        .about-fellowship {
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;

            .fellowship-notes {
                text-align: center;
                max-width: 850px;
                margin: 0 auto 50px;
  
                .heading {
                    font-size: 35px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .notes {
                    font-size: 18px;
                    margin: 20px
                   
                }
            }
            .about-row {
                margin-top: 50px;
                .about-details {
                    margin-left: auto;
                    margin-right: auto;
                    .our-church {
                        .details-image {
                            transition: .3s ease-out;
                            .image {
                                background: linear-gradient(to bottom, #000, transparent),
                                url(../../asset/images/our-church.jpg);
                                animation: animatedBackground 4s linear infinite;
                                box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
                                width: 320px;
                                border-radius: 15px;
                                height: 250px;
                            }
                        }
                        .details-image:hover {
                            box-shadow: 5px 0px 50px rgba(34, 34, 34, 0.432);
                            transition: .3s ease-in;
                        }
                        .detail-title {
                            font-size: 25px;
                            font-weight: 600;
                            padding: 10px;
                        }
                        .detail-body {
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }

    
        .minister {
            .head {
                text-align: center;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 70px;
                margin-top: 100px;
            }
            .minister-info {
                .image {
                }
                .img {
                    height: 350px;
                    width: 300px;
                    border-radius: 10px;
                }
                .write-up {
                    text-align: justify;
                    line-height: 25px;
                    max-width: 50%;
                    .name {
                        margin-bottom: 10px;
                    }
                    .details {
                        margin-top: 30px;
                    }
                }
            }
        }
}


@media only screen and (max-width: 768px) {

    .about-page {
        margin-top: 80px;
        margin-bottom: 50px;
        .title {
            text-align: center;
            font-size: 35px;
            font-weight: bolder;
            margin-bottom: 20px;
            padding-bottom: 20px;
            color: #000;
        }
        .title-image {
            margin-top: -25px;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(129, 129, 129, 0.432);
            border-radius: 100%;
            height: 50px;
            width: 50px;
            margin-left: auto;
            margin-right: auto;
            .title-foto {
                margin-top: 5px;
            }
        }
        .sect1 {
            margin-right: auto;
            margin-left: auto;
            font-size: x-large;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
        .sect2 {
            text-align: center;
            margin-top: 50px;
            font-weight: 700;
            font-size: 18px;
        }
        .aboutus-section {
            margin-top: 50px;
            .aboutus-card {
                border: rgba(0, 0, 0, 0.048) solid 1px;
                margin-left: 15px;
                margin-right: auto;
                margin-bottom: 30px;
                width: 100%;
                height: 300px;
                color: #000;
                cursor: pointer;
                border-radius: 5px;
                transition: ease-out .3s;
            }
            .aboutus-card:hover {
                transition: ease-in .3s;
                box-shadow: 3px 0px 30px rgba(34, 34, 34, 0.432);
                border-radius: 100px;
                background-color: rgb(156, 135, 13);
                color: #fff;
            }
            
        }
        .value {
            font-size: 20px;
            text-align: center;
            margin-top: 30px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 50px;
            padding-bottom: -10px;
        }
        .body {
            text-align: center;
            margin-bottom: 30px;       
            
        }
        .line {
            width: 100%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        .about-fellowship {
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;

            .fellowship-notes {
                text-align: center;
                max-width: 850px;
                margin: 0 auto 50px;
  
                .heading {
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .notes {
                    font-size: 18px;
                    margin: 20px
                   
                }
            }
            .about-row {
                margin-top: 50px;
                .about-details {
                    margin-left: auto;
                    margin-right: auto;
                    .our-church {
                        .details-image {
                            transition: .3s ease-out;
                            .image {
                                width: 280px;
                                border-radius: 15px;
                                height: 250px;
                            }
                        }
                        .details-image:hover {
                            box-shadow: 5px 0px 50px rgba(34, 34, 34, 0.432);
                            transition: .3s ease-in;
                        }
                        .detail-title {
                            font-size: 25px;
                            font-weight: 600;
                            padding: 10px;
                        }
                        .detail-body {
                            padding: 5px 10px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

    
        .minister {
            .head {
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 30px;
                margin-top: 10px;
            }
            .minister-info {
                .image {
                    
                }
                .img {
                    margin-left: 16px;
                    margin-right: auto;
                    height: 300px;
                    width: 100%;
                    border-radius: 10px;
                }
                .write-up {
                    text-align: center;
                    line-height: 25px;
                    max-width: 100%;
                    margin-left: 15px;
                    .name {
                        font-size: 18px;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }
                    .details {
                        margin-top: 30px;
                        width: 100%;
                    }
                }
            }
        }
}
}