.footer {
    .news-letter-section {
        margin: 0;
        padding: 0;
        background-color: rgb(230, 40, 40);
        .col-md-6 {
            max-width: 500px;
            margin: 0 auto 50px;
            padding-top: 50px;
            color: #fff;
            .title {
                font-size: 30px;
                font-weight: 800;
                text-transform: capitalize;
            }
            .body {
                font-size: 18px;
                padding-top: 10px;
            }
        }
    }
}