.navbar {
  width: 98.5vw; 
  background-color: #000;
  .sticky {
    position: fixed;
    top: 0;
    
  }
  .navbar {
    .image {
      margin-right: -10rem;
      .img {
        width: 50px;
        height: 50px;
      }
      @media (prefers-reduced-motion: no-preference) {
        .img {
          animation: App-logo-spin infinite 5s linear;
        }
      }   
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
    .navbar-brand {
      margin-left: -10rem;
      color: rgb(223, 219, 11);
      font-weight: 900;
      strong {
        color: rgb(223, 219, 11);
        font-weight: 900;
      }
    }
    .navlinks-section {
      .navbar-nav {
        .nav-link {
          color: #fff;
        }
        .nav-link:hover {
          box-shadow:0 1px 5px rgba(255, 255, 255, 0.568);
          border-radius: 10px;
          text-transform: uppercase;
        }
      }
    }
    .contact-div {
      .numbers {
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    margin-top: 0px;
    width: 100vw; 
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 15px 10px rgba(29, 29, 29, 0.904);
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .navbar {
      .left-section {
        margin-top: 20px;
      }
      .image {
        margin-right: -10rem;
        .img {
          width: 50px;
          height: 50px;
        }
        @media (prefers-reduced-motion: no-preference) {
          .img {
            animation: App-logo-spin infinite 5s linear;
          }
        }   
        @keyframes App-logo-spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
      .navbar-brand {
        margin-left: 9.7rem;
        color: rgb(223, 219, 11);
        font-weight: 900;
        font-size: 15px;
        strong {
          color: rgb(223, 219, 11);
          font-weight: 900;
        }
      }
      .navlinks-section {
        background-color: #000;
        color: #fff;
        .navbar-nav {
          .nav-link {
            color: #fff;
          }
          .nav-link:hover {
            box-shadow:0 1px 5px rgba(255, 255, 255, 0.568);
            border-radius: 10px;
            text-transform: uppercase;
          }
        }
      }
      .contact-div {
        visibility: hidden;
      }
    }
  }

}