@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.background-image {
    width: 100%; 
	height: 100vh; 
	background-image: url('../../asset/images/background.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
    animation: animatedBackground 5s linear infinite;
    .church-name {
        color: #fff;
        padding-top: 150px;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
    }
    .location {
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
}