@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.welcome-page {
    .navbar {
        margin-left: -0.67rem;
        width: 100vw;
    }
    .background-image {
        width: 100%; 
        height: 100vh; 
        background-image: url('../../asset/images/background.png');
        background-position: 0px 0px;
        background-repeat: no-repeat;
        animation: animatedBackground 5s linear infinite;
        .church-name {
            color: #fff;
            padding-top: 200px;
            font-size: 50px;
            font-weight: 800;
            text-align: center;
        }
        .location {
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            margin-top: 30px;
        }
        .motto {
            color: #fff;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
        }
    }
    
}


@media only screen and (max-width: 768px) {

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    .welcome-page {
        .background-image {
            width: 100%; 
            height: 100vh; 
            background-image: url('../../asset/images/background.png');
            background-position: 0px 0px;
            background-repeat: no-repeat;
            animation: animatedBackground 20s linear infinite;
            .church-name {
                color: #fff;
                padding-top: 100px;
                font-size: 30px;
                font-weight: 800;
                text-align: center;
            }
            .location {
                color: #fff;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                margin-top: 20px;
            }
            .motto {
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                margin-top: 20px;
            }
        }
    }
}