.thursday-messages {
    margin: 0;
    padding: 0;
    .breadcrumb-container {
        z-index: 1;
        box-shadow: 4px 0px 40px rgba(44, 44, 44, 0.432);
        background-color: #fff;
        padding-top: 50px;
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
        .breadcrumb {
            padding: 20px 30px;
            .breadcrumb-item {
                text-decoration: none;
                color: #000;
                cursor: pointer;
                transition: all .3s;
                .fa {
                    padding-top: 5px;
                    padding-right: 5px;
                }
            }
            .breadcrumb-item:hover {
                color: rgb(224, 194, 24);
            }
            .active {
                color: rgb(189, 161, 5);
            }
        }
    }

    .thursday-message-welcome {
        margin-bottom: 150px;
        .welcome-image {
            text-align: center;
            background: linear-gradient(to bottom, #000, transparent),
            url(../../asset/images/ourchurch.jpg);
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
            min-height: 50vh;
            background-position: 0px 0px;
            width: 80%;
            background-size: cover;
            margin-left: auto;
            margin-right: auto;
            color: #fff;
            border-radius: 20px;
            .title {
                font-size: 35px;
                text-transform: capitalize;
                font-weight: 700;
                padding-top: 100px;
            }
            .body {
                font-size: 20px;
                font-weight: 700;
            }
            .fa {
                margin-right: 10px;
                color: rgb(243, 209, 16);
            }
            .category {
                padding: 30px 0px 0px 0px;
                text-transform: capitalize;
                font-weight: 700;
                
            }
            .time {
                text-transform: capitalize;
                font-weight: 700;
                padding-left: 10px;
                padding-top: 15px;
            }
        }
    }
    .house {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        .sect {
            width: 50%;
            text-align: center;
            margin-bottom: 20px;
            margin-left: auto; 
            margin-right: auto;
            border-radius: 10px;
            transition: .3s ease-out;
            .lead {
                font-weight: 700;
                font-size: 20px;
                margin-top: 10px;
                text-align: center;
            }
            .card-img-top {
            width: 250px;
            height: 200px;
            border-radius: 10%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 10px;
            }
            .icons {
                margin-top: 20px;
                .fa {
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    border: 1px solid #dddddd;
                    color: rgba(44, 44, 44, 0.432);
                    transition: .4s ease-out;
                }
                .fa:hover {
                    background: goldenrod;
                    color: #fff;
                    transition: .4s ease-in;
                }
            }
            .card-body {
                .audio {
                    width: 100%;
                }
                .audio:active {
                    border: none;
                }
            }
            .fa {
                margin-right: 10px;
                color: rgb(243, 209, 16);
            }
        }
        .sect:hover {
            background-color: #fff;
            box-shadow: 4px 0px 40px rgba(44, 44, 44, 0.432);
            transition: .3s ease-in;
        }
    }
}




@media only screen and (max-width:768px) {
    .thursday-messages {
        margin: 0;
        padding: 0;
        .breadcrumb-container {
            z-index: 1;
            box-shadow: 4px 0px 40px rgba(44, 44, 44, 0.432);
            background-color: #fff;
            padding-top: 50px;
            .breadcrumb-item + .breadcrumb-item::before {
                content: ">";
            }
            .breadcrumb {
                font-size: 14.5px;
                padding: 20px 10px;
                .breadcrumb-item {
                    .fa {
                        padding-top: 5px;
                        padding-right: 5px;
                    }
                }
                .breadcrumb-item:hover {
                    color: rgb(224, 194, 24);
                }
                .active {
                    color: rgb(189, 161, 5);
                }
            }
        }

        .thursday-message-welcome {
            margin-bottom: 50px;
            .welcome-image {
                text-align: center;
                background: linear-gradient(to bottom, #000, transparent),
                url(../../asset/images/ourchurch.jpg);
                box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
                min-height: 50vh;
                background-position: 0px 0px;
                width: 95%;
                background-size: cover;
                margin-left: auto;
                margin-right: auto;
                color: #fff;
                border-radius: 20px;
                .title {
                    font-size: 25px;
                    text-transform: capitalize;
                    font-weight: 700;
                    padding-top: 30px;
                }
                .body {
                    font-size: 18px;
                    font-weight: 700;
                    padding-top: 10px;
                }
                .fa {
                    margin-right: 10px;
                    color: rgb(243, 209, 16);
                }
                .category {
                    padding: 30px 0px 0px 0px;
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 14px;
                    
                }
                .time {
                    text-transform: capitalize;
                    font-weight: 700;
                    padding-left: 10px;
                    padding-top: 15px;
                    font-size: 14px;
                }
            }
            
        }
        .house {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            .sect {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                margin-left: auto; 
                margin-right: auto;
                border-radius: 10px;
                transition: .3s ease-out;
                .lead {
                    font-weight: 700;
                    font-size: 18px;
                    margin-top: 10px;
                    text-align: center;
                }
                .card-img-top {
                width: 100%;
                height: 200px;
                border-radius: 10%;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: 10px;
                }
                .card-body {
                    .audio {
                        width: 100%;
                    }
                }
                .fa {
                    margin-right: 10px;
                    color: rgb(243, 209, 16);
                }
            }
            .sect:hover {
                background-color: #fff;
                box-shadow: 4px 0px 40px rgba(44, 44, 44, 0.432);
                transition: .3s ease-in;
            }
        }
    }
}