.location-page {
    margin: 0;
    padding: 0;
    .location-welcome {
        background: linear-gradient(to bottom, #000, transparent),
        url(../../asset/images/sermon-bg.jpg);
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
        color: rgb(214, 205, 205);
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 40vh;
        background-position: 0px 0px;
        .location-title {
            padding-top: 150px;
            font-size: 40px;
            font-weight: 700;
        }
        .location-address {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 100px;
            width: 50%;
            text-align: center;
            text-transform: capitalize;
            padding-top: 20px;
            .fa {
                margin-right: 10px;
                color: darkgoldenrod;
            }
        }
    }
    .location-sections {
        margin-top: 100px;
        margin-bottom: 200px;
        .title {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
        .location {
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            .container {
                min-width: 350px;
                min-height: 250px;
                border-radius: 20px;
                position: relative;
                -webkit-transition: 1.5s ease-in-out;
                transition: 1.5s ease-in-out;
                transform-style: preserve-3d;
                .side {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    padding: 20px 50px;
                    color: #fff;
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    border-radius: 20px;
                    .content {
                        transform: translatez(70px) scale(0.8);
                        line-height: 1.5em;
                        div {
                            position: relative;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        p {
                            margin-top: 50px;
                            line-height: 2em;
                        }
                        h1:before {
                            content: "";
                            position: absolute;
                            bottom: -20px;
                            height: 3px;
                            background-color: #3e3;
                            width: 70px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                .front {
                    z-index: 2;
                    background-size: 100vh;
                    background-size: cover;
                    background-image: url(https://livewallpaperhd.com/wp-content/uploads/2017/07/Dark-Elegant-Wallpaper.jpg);
                }
                .back {
                    background-color: #333;
                    transform: rotateY(180deg);
                    z-index: 0;
                    padding-top: 10px;
                    background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
                    .content {
                        margin-left: -3.5rem;
                        min-width: 350px;
                        color: #fff;
                        font-size: 20px;
                        padding-top: 30px;
                        .venue {
                            padding-bottom: 20px;
                        }
                        .contact {

                        }
                        .fa {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .container:hover {
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
        }
    }
}


@media only screen and (max-width: 768px) {

    .location-page {
        .location-welcome {
            background: linear-gradient(to bottom, #000, transparent),
            url(../../asset/images/sermon-bg.jpg);
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
            color: rgb(214, 205, 205);
            background-size: cover;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-height: 60vh;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            .location-title {
                padding-top: 150px;
                font-size: 30px;
                font-weight: 700;
            }
            .location-address {
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                color: #fff;
                width: 90%;
                line-height: 25px;
            }
        }
        .location-sections {
            margin-top: 50px;
            .title {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            .location {
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                .container {
                    margin-left: -12px;
                    min-width: 300px;
                    min-height: 250px;
                    border-radius: 20px;
                    position: relative;
                    -webkit-transition: 1.5s ease-in-out;
                    transition: 1.5s ease-in-out;
                    transform-style: preserve-3d;
                    .side {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        padding: 5px 0px;
                        color: #fff;
                        transform-style: preserve-3d;
                        backface-visibility: hidden;
                        border-radius: 20px;
                        .content {
                            transform: translatez(70px) scale(0.8);
                            line-height: 18px;
                            h1 {
                                position: relative;
                            }
                            p {
                                margin-top: 30px;
                                line-height: 25px;
                            }
                            h1:before {
                                content: "";
                                position: absolute;
                                bottom: -20px;
                                height: 1px;
                                background-color: #3e3;
                                width: 250px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    .front {
                        z-index: 2;
                        background-size: 100vh;
                        background-size: cover;
                        background-image: url(https://livewallpaperhd.com/wp-content/uploads/2017/07/Dark-Elegant-Wallpaper.jpg);
                    }
                    .back {
                        margin-left: -1.7rem;
                        background-color: #333;
                        transform: rotateY(180deg);
                        z-index: 0;
                        padding-top: 10px;
                        background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg);
                        .content {
                            margin-left: -27px;
                            padding-left: 10px;
                            min-width: 350px;
                            color: #fff;
                            font-size: 20px;
                            padding-top: 50px;
                            line-height: 30px;
                            .venue {
                                padding-bottom: 20px;
                            }
                            .contact {
    
                            }
                            .fa {
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .container:hover {
                    -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                }
            }
        }
    }
}